---
import AboutHeroImage from '../assets/pfp.webp';
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
import { SITE_DESCRIPTION } from '../consts';
import { FULL_NAME } from '../consts';
---

<Layout
	title={SITE_TITLE}
	description={SITE_DESCRIPTION}
	myname={FULL_NAME}
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Eugene Myong is a current Mathematics-Computer Science student at the 
		University of California San Diego. This is his first time doing webdev, so go easy on him!
	</p>

	<p>
		You can find his website <a href="https://cse-134b-hmwk-4.pages.dev/">here</a>.
	</p>
</Layout>
