---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE, FULL_NAME } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} myname={FULL_NAME} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Eugene Myong's Web Development Journey</h1>
			<p>
				Hello and welcome to Eugene Myong's Web Development journey! Having only began 
				practicing web development in Fall 2025, I've already learned so much, 
				and am excited to share it all with you guys!<br>
				Special thanks to <a href="https://astro.build/">Astro</a>, a static site generator, 
				for their blog template, which I'll be using for these pages!
			</p>
			<p>To see my journey in progress, hit <a href="/blog">Blog</a> at the top!</p>
			<p>
				You can also check out my website as it currently is 
				<a href="https://cse-134b-hmwk-4.pages.dev/" target="_blank">here</a>!
			</p>
		</main>
		<Footer />
	</body>
</html>
